<form ng-submit="addHero()">
	<input type="text" id="alias" placeholder="Alias" /><br/>
	<input type="text" id="first_name" placeholder="First Name" /><br/>
	<input type="text" id="last_name" placeholder="Last Name" /><br/>
	<input type="text" id="city" placeholder="City" /><br/>
	<div>Super Power:</div>
	<select id="power_name">
		<option>Invisibility</option>
		<option>Flight</option>
		<option>Super Speed</option>
		<option>Heat Vision</option>
		<option>Super Strength</option>
		<option>Accelerated Healing</option>
		<option>Power Blast</option>
		<option>Animal Affinity</option>
	</select>
</form>