<form ng-submit="addHero()">
	<input type="text" ng-model="alias" placeholder="Alias" /><br/>
	<input type="text" ng-model="first_name" placeholder="First Name" /><br/>
	<input type="text" ng-model="last_name" placeholder="Last Name" /><br/>
	<input type="text" ng-model="city" placeholder="City" /><br/>
	<div>Super Power:</div>
	<select ng-model="power_name">
		<option>Invisibility</option>
		<option>Flight</option>
		<option>Super Speed</option>
		<option>Heat Vision</option>
		<option>Super Strength</option>
		<option>Accelerated Healing</option>
		<option>Power Blast</option>
		<option>Animal Affinity</option>
	</select><br/>
	<input type="submit" value="Add Hero" />
</form>